[package]
name = "lophat"
version = "0.2.1"
edition = "2021"
license = "MIT"
description = "Lockfree Persistent Homology Algorithm Toolbox"
homepage = "https://github.com/tomchaplin/lophat"
repository = "https://github.com/tomchaplin/lophat"
readme = "README.md"
exclude = ["lophat-py/**/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "lophat"
crate-type = ["lib"]

[dependencies]
crossbeam = "0.8.2"
hashbrown = { version = "0.13.2", features = ["rayon"] }
pinboard = "2.1.0"
pyo3 = { version = "0.18.1", features = ["hashbrown"] }
rayon = "1.7.0"

[dev-dependencies]
proptest = "1.1.0"
